body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.clr1 {
  background-color: #EA047E;
}

.clr2 {
  background-color: #AB46D2;
}

.clr3 {
  background-color: #00F5FF;
}

.clr4 {
  background-color: #FCE700;
}

.pressed {
  box-shadow: 0 0 50px #F806CC;
  background-color: #0096FF;
}
